{%extends 'clone/base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}

    <h1>Insta-clone App</h1>

    <div class="blog">
        <div class="box">
            <h1 style="font-size: 50px; font-family: 'Dancing Script', cursive; font-weight: 900; color:rgb(149, 53, 69); "> Welcome To My </h1>
            <h1 class='text-center' style="font-family: 'Dancing Script', cursive; font-weight: 900; font-size: 60px; color: purple;"> INSTAGRAM CLONE APP</h1>
        </div>
        </div>
        <hr>
    
    <div class="container-fluid display">
        
        </div>
        {% for post in posts %}
        <div class="col-md-7">
         <div class="panel panel-default">
             <div class="panel-heading">
                <img class="img-circle" src=" {{ post.author.profile.image.url }} " width="50" height="50">
                <p> {{ post.author }} </p>
             </div>
             <div class="panel-body">
             {% if post.cover %}
                <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="300" height="300">
              {% else %}
              <p></p>
               {% endif %} 
             </div>
                <div class="article-metadata">
                     
                     <p>{{ post.pub_date|timesince }} ago </p>
                 </div>
                 <h2><a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a> </h2>
                
             </div>
             </div>
        {% endfor %}
    

{% endblock %}

</body>
</html>