{%extends 'clone/base.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}

   
        <hr>
    
    <div class="container-fluid display" style="margin-top: 50px;">
         <h1>Insta-clone App</h1>
        </div>
        {% for post in posts %}
        <!-- <div class="col-md-7">
         <div class="panel panel-default">
             <div class="panel-heading">
                <img class="img-circle" src=" {{ post.author.profile.image.url }} " width="50" height="50">
                <p> {{ post.author }} </p>
             </div>
             <div class="panel-body">
             {% if post.cover %}
                <img src="{{ post.cover.url}}" alt="{{ post.title }}" width="300" height="300">
              {% else %}
              <p></p>
               {% endif %} 
             </div>
                <div class="article-metadata">
                     
                     <p>{{ post.pub_date|timesince }} ago </p>
                 </div>
                 <h2><a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a> </h2>
                
             </div>
             </div> -->

             <div class="card">
                <div class="card-header">
                    <img class="rounded-circle article-img" src=" {{ post.author.profile.image.url }} " width="50" height="50">
                    <p> {{ post.author }} </p>
                </div>
               
                    {% if post.cover %}
                <img class="card-img-top" src="{{ post.cover.url}}" alt="{{ post.title }}">
              {% else %}
              <p></p>
               {% endif %} 
                  
                <div class="card-footer text-muted">
                    <p>Posted {{ post.pub_date|timesince }} ago </p>
                
                <h2><a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a> </h2>
                </div>
              </div>
              <br>
              <br>
        {% endfor %}
        <br>
    

{% endblock %}

</body>
</html>