{%extends 'clone/base.html'%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% block content %}
{{block.super}}
<div class="container">
    <div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="200" height="200">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <h1 class=""> Profile info </h1>
              {{ user_form |crispy }}
              {{ profile_form |crispy }}
            <div class="form-group">
                <button class="btn btn-info" type="submit" > Update </button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
    
</body>
</html>